<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="ScOperation" type="MedQC.Web.Models.ScOperation,MedQC.Web"></typeAlias>
  </alias>

  <resultMaps>
    <resultMap id="Windy.WebMVC.Web2.DBAccess.ScOperation-result" class="ScOperation">
      <result property="ROWINDEX" column="ROWINDEX"  />
      <result property="PATIENT_ID" column="PATIENT_ID"  />
      <result property="VISIT_ID" column="VISIT_ID" />
      <result property="NAME" column="NAME" />
      <result property="DEPT_CODE" column="DEPT_CODE" />
      <result property="DEPT_NAME" column="DEPT_NAME" />
      <result property="ADMISSION_DATE_TIME" column="ADMISSION_DATE_TIME" />
      <result property="DISCHARGE_DATE_TIME" column="DISCHARGE_DATE_TIME" />
      <result property="SEX" column="SEX" />
      <result property="AGE" column="AGE" />
      <result property="ATTENDING_DOCTOR" column="ATTENDING_DOCTOR" />
      <result property="MAIN_DIAGNOSIS" column="MAIN_DIAGNOSIS" />
      <result property="INPDAYS" column="INPDAYS" />
      <result property="OPERATION_NO" column="OPERATION_NO" />
      <result property="OPERATION_NAME" column="OPERATION_NAME" />
      <result property="OPERATION_CODE" column="OPERATION_CODE" />
      <result property="OPERATION_SCALE" column="OPERATION_SCALE" />
      <result property="OPERATION_DATE_TIME" column="OPERATION_DATE_TIME" />
      <result property="CONTINUED_TIMESPAN" column="CONTINUED_TIMESPAN" />
      <result property="SURGEON" column="SURGEON" />
      <result property="ANESTHESIA_METHOD" column="ANESTHESIA_METHOD" />
      <result property="PATIENT_CONDITION" column="PATIENT_CONDITION" />
      <result property="WOUND_GRADE" column="WOUND_GRADE" />
      <result property="OPERATING_CODE" column="OPERATING_CODE" />
      <result property="OPERATING_NAME" column="OPERATING_NAME" />
      <result property="BLOOD_TRAN_VOL" column="BLOOD_TRAN_VOL" />
      <result property="CONSULTATION_TIMES" column="CONSULTATION_TIMES" />
      <result property="EMER_TREAT_TIMES" column="EMER_TREAT_TIMES" />
      <result property="INFECTION_DIAGNOSIS" column="INFECTION_DIAGNOSIS" />
      <result property="COST" column="COST" />
      <result property="DRUG_COST" column="DRUG_COST" />
      <result property="COMPLICATION" column="COMPLICATION" />
      <result property="OPER_DATE_TIME" column="OPER_DATE_TIME" />
      <result property="MEMO" column="MEMO" />
      <result property="CHARGE_TYPE" column="CHARGE_TYPE" />
      <result property="WARD_CODE" column="WARD_CODE" />
      <result property="WARD_NAME" column="WARD_NAME" />
    </resultMap>
  </resultMaps>
  <statements>
    <select id="Operation.ScOperation.GetReturnRoom" parameterClass="Hashtable" resultMap="ScOperation-result">
      <![CDATA[ 
        select row_number() over(partition by patient_id order by visit_id desc, operation_No) as rowindex,
      Patient_ID,
      Visit_ID,
      Name,
      Dept_Code,
      Dept_Name,
      Admission_Date_Time,
      Discharge_Date_Time,
      Sex,
      Age,
      Attending_Doctor,
      Main_Diagnosis,
      InpDays,
      Operation_No,
      Operation_Name,
      Operation_Code,
      OPeration_Scale,
      Operation_Date_Time,
      Continued_TimeSpan,
      Surgeon,
      Anesthesia_Method,
      Patient_Condition,
      Wound_Grade,
      Operating_Code,
      Operating_Name,
      Blood_Tran_Vol,
      Consultation_Times,
      Emer_Treat_Times,
      Infection_Diagnosis,
      Cost,
      Drug_Cost,
      Complication,
      Oper_Date_Time,
      Memo,
      Charge_Type,
      WARD_CODE,
      WARD_NAME
      from sc_operation
      where 1 = 1
      and patient_id in
      (select distinct patient_id
      from sc_Operation
      where 1 = 1
      and operation_date_time >= to_date('2013-01-01', 'yyyy-mm-dd')
      and operation_date_time <=
        to_date('2013-01-30  23:59:59', 'yyyy-mm-dd HH24:mi:ss'))
        order by patient_id, visit_id, operation_No ]]>
    </select>
  <select id="Operation.ScOperation.QueryForEvaluation" parameterClass="Hashtable" resultMap="ScOperation-result">
      select 
      Patient_ID,
      Visit_ID,
      Name,
      Dept_Code,
      Dept_Name,
      Admission_Date_Time,
      Discharge_Date_Time,
      Sex,
      Age,
      Attending_Doctor,
      Main_Diagnosis,
      InpDays,
      Operation_No,
      Operation_Name,
      Operation_Code,
      OPeration_Scale,
      Operation_Date_Time,
      Continued_TimeSpan,
      Surgeon,
      Anesthesia_Method,
      Patient_Condition,
      Wound_Grade,
      Operating_Code,
      Operating_Name,
      Blood_Tran_Vol,
      Consultation_Times,
      Emer_Treat_Times,
      Infection_Diagnosis,
      Cost,
      Drug_Cost,
      Complication,
      Oper_Date_Time,
      Memo,
      Charge_Type,
      WARD_CODE,
      WARD_NAME
      from sc_operation
      where 1 = 1
      and patient_id  = '$PATIENT_ID$' and visit_id =$VISIT_ID$ order by Operation_No
    </select>
    <!--<select id="SysConfig.SysRole.GetTotalCount" parameterClass="Hashtable" resultClass="int">
      SELECT COUNT(*) FROM sys_Role t   where 1=1

      <dynamic>
        <isNotEmpty prepend=" AND " property="sysRole">T.name like '%$sysRole.Name$%'</isNotEmpty>
      </dynamic>

    </select>-->

    <!--<select id="SysConfig.SysRole.GetRolesByUserID" parameterClass="Hashtable" resultMap="SysRole-result">
      select A.ID,A.NAME,A.DESCRIPTION from sys_role A, sys_user_role B
      where A.Id=b.role_id and b.user_id = $UserID$
    </select>

    <select id="SysConfig.SysRole.GetSysRoles" parameterClass="SysRole" resultMap="SysRole-result">
      <![CDATA[
         select *
       from SYS_ROLE 
     ]]>
    </select>
    <select id="SysConfig.SysRole.QueryOne" parameterClass="Hashtable" resultMap="SysRole-result">
      select a.*
      from SYS_Role a
      where a.ID=$ID$
    </select>-->

    <insert id="Operation.ScOperation.Insert" parameterClass="ScOperation" >
      INSERT INTO sc_operation (PATIENT_ID,VISIT_ID,NAME,DEPT_CODE,DEPT_NAME,ADMISSION_DATE_TIME,DISCHARGE_DATE_TIME,SEX,AGE,ATTENDING_DOCTOR,MAIN_DIAGNOSIS,INPDAYS,OPERATION_NO,OPERATION_NAME,OPERATION_CODE,OPERATION_SCALE,OPERATION_DATE_TIME,CONTINUED_TIMESPAN,SURGEON,ANESTHESIA_METHOD,PATIENT_CONDITION,WOUND_GRADE,OPERATING_CODE,OPERATING_NAME,BLOOD_TRAN_VOL                      ,CONSULTATION_TIMES,EMER_TREAT_TIMES,INFECTION_DIAGNOSIS,COST,DRUG_COST,COMPLICATION,OPER_DATE_TIME,MEMO,CHARGE_TYPE,WARD_CODE,WARD_NAME)
      VALUES (#PATIENT_ID#,#VISIT_ID#,#NAME#,#DEPT_CODE#,#DEPT_NAME#,#ADMISSION_DATE_TIME#,#DISCHARGE_DATE_TIME#,#SEX#,#AGE#,#ATTENDING_DOCTOR#,#MAIN_DIAGNOSIS#,#INPDAYS#,#OPERATION_NO#,#OPERATION_NAME#,#OPERATION_CODE#,#OPERATION_SCALE#,#OPERATION_DATE_TIME#,#CONTINUED_TIMESPAN#,#SURGEON#,#ANESTHESIA_METHOD#,#PATIENT_CONDITION#,#WOUND_GRADE#,#OPERATING_CODE#,#OPERATING_NAME#,#BLOOD_TRAN_VOL#,#CONSULTATION_TIMES#,#EMER_TREAT_TIMES#,#INFECTION_DIAGNOSIS#,#COST#,#DRUG_COST#,#COMPLICATION#,#OPER_DATE_TIME#,#MEMO#,#CHARGE_TYPE#,#WARD_CODE#,#WARD_NAME#)
    </insert>
    <!--
    <update id="SysConfig.SysRole.Update" parameterClass="SysRole">
      UPDATE SYS_Role SET name = #Name#,description = #Description#
      WHERE ID = #ID#
    </update>

    <delete id="SysConfig.SysRole.Delete" parameterClass="Hashtable">
      DELETE FROM SYS_Role WHERE ID = $ID$
    </delete>-->
  </statements>
</sqlMap>