<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <statements>
    <select id="GetAeUsers" parameterClass="AeUsers" resultMap="AeUsers-result">
      <![CDATA[
       select * from AE_USERS t 
     ]]>
    </select>
    <select id="GetPageAeUsers" parameterClass="Hashtable" resultMap="AeUsers-result">
     
       select * from AE_USERS t where 1=1
       <dynamic>
        <!--<isNotNull property="AeUsers" prepend="and">
           t.sitepath = '$AeUsers.SitePath$'
        </isNotNull>-->
       </dynamic>
       order by USER_ID desc limit $start$,$pageSize$ 
     
    </select>
    
    <select id="GetAeUsersTotalCount" parameterClass="Hashtable" resultClass="int">
      SELECT COUNT(*) FROM AE_USERS t   where 1=1
      <dynamic>
        <isNotNull property="AeUsers" prepend="and">
           t.sitepath = '$AeUsers.SitePath$'
        </isNotNull>
       </dynamic>
    </select>
    
    <insert id="Insert" parameterClass="AeUsers">
      <![CDATA[
        INSERT INTO AE_USERS
          (USER_ID,
           USER_NAME
           )
        VALUES
          (#UserID#,
           #UserName#)
      ]]>
    </insert>
    <delete id="Delete" parameterClass="string">
      DELETE FROM AE_USERS WHERE id in( $ids$ )
    </delete>
  </statements>
</sqlMap>