<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="SysLog" type="MedQC.Web.Models.SysLog,MedQC.Web"></typeAlias>
  </alias>

  <resultMaps>
    <resultMap id="Windy.WebMVC.Web2.DBAccess.SysLog-result" class="SysLog">
      <result property="LogDate" column="LOG_DATE"  />
      <result property="Thread" column="THREAD" />
      <result property="LogLevel" column="LOG_LEVEL" />
      <result property="Logger" column="LOGGER" />
      <result property="Message" column="MESSAGE" />
      <result property="Exception" column="EXCEPTION"/>
    </resultMap>
  </resultMaps>
  <statements>

    <select id="SysConfig.SysLog.LoadPageList" parameterClass="Hashtable" resultMap="SysLog-result">

      SELECT * FROM
      (
      SELECT A.*, ROWNUM RN
      FROM (

      SELECT * FROM sys_log t
      WHERE 1 = 1
      <dynamic>
        <isNotEmpty prepend=" AND " property="SysLog.Message">T.message like '%$SysLog.Message$%'</isNotEmpty>
      </dynamic>
      order by log_date desc

      ) A
      )
      WHERE RN BETWEEN $start$ AND $end$
    </select>

    <select id="SysConfig.SysLog.GetTotalCount" parameterClass="Hashtable" resultClass="int">
      SELECT COUNT(*) FROM sys_log t   where 1=1
      <dynamic>
        <isNotEmpty prepend=" AND " property="SysLog">T.message like '%$SysLog.Message$%'</isNotEmpty>
      </dynamic>

    </select>

    <delete id="SysConfig.SysLog.Delete" parameterClass="Hashtable">
      DELETE FROM sys_log WHERE ID = $ID$
    </delete>
    
    
  </statements>
</sqlMap>