<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="SysParameter" type="MedQC.Web.Models.SysParameter,MedQC.Web"></typeAlias>
  </alias>

  <resultMaps>
    <resultMap id="Windy.WebMVC.Web2.DBAccess.SysParameter-result" class="SysParameter">
      <result property="ID" column="ID"  />
      <result property="Name" column="NAME" />
      <result property="Code" column="CODE"/>
      <result property="ParentID" column="PARENT_ID" />
      <result property="Value" column="VALUE" />
      <result property="Description" column="DESCRIPTION" />
      <result property="ParentName" column="PARENT_NAME" />

    </resultMap>
  </resultMaps>
  <statements>
    <select id="SysConfig.SysParameter.QueryOne" parameterClass="Hashtable" resultMap="SysParameter-result">
      select a.*,b.NAME as PARENT_NAME
      from SYS_PARAMETER a,SYS_PARAMETER b
      where a.PARENT_ID=b.ID(+) and a.ID=$ID$
    </select>
    <select id="SysConfig.SysParameter.QueryOneByCode" parameterClass="Hashtable" resultMap="SysParameter-result">
      select a.*,b.NAME as PARENT_NAME
      from SYS_PARAMETER a,SYS_PARAMETER b
      where a.PARENT_ID=b.ID(+) and a.Code='$code$'
    </select>
    <select id="SysConfig.SysParameter.GetSysParameters" parameterClass="SysParameter" resultMap="SysParameter-result">
      select t.*  from
      (
      select a.*,b.name as parent_name from sys_parameter a,sys_parameter b
      where a.parent_id=b.id(+)
      ) t
      connect by prior id = PARENT_ID
      start with parent_id = #ParentID#
    </select>
    <select id="SysConfig.SysParameter.GetChildNodesByCode" parameterClass="SysParameter" resultMap="SysParameter-result">
      select t.*  from
      (
      select a.*,b.name as parent_name from sys_parameter a,sys_parameter b
      where a.parent_id=b.id(+)
      ) t
      where t.code != '$Code$'
      connect by prior id = PARENT_ID
      start with Code = '$Code$'
    </select>
    <update id="SysConfig.SysParameter.Update" parameterClass="SysParameter">
      UPDATE SYS_PARAMETER SET NAME = #Name#,code = #Code#,PARENT_ID = #ParentID#,value=#Value#,DESCRIPTION=#Description#
      WHERE ID = #ID#
    </update>
    <update id="SysConfig.SysParameter.ModifyValue" parameterClass="Hashtable">
      UPDATE SYS_PARAMETER SET value='$value$'
      WHERE code = '$code$'
    </update>
    <insert id="SysConfig.SysParameter.Insert" parameterClass="SysParameter" >
      <selectKey  type="pre" property="ID" resultClass="int" >
        <![CDATA[ 
          select seq_sys_parameter.nextval AS VALUE from dual
        ]]>
      </selectKey>
      INSERT INTO SYS_PARAMETER (ID,NAME,code,PARENT_ID,value,DESCRIPTION)
      VALUES (#ID#,#Name#,#Code#,#ParentID#,#Value#,#Description#)
    </insert>
    <delete id="SysConfig.SysParameter.Delete" parameterClass="Hashtable">
      DELETE FROM SYS_PARAMETER WHERE ID = $ID$
    </delete>
    <!--
   
   
    -->

  </statements>
</sqlMap>