<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="SysRole" type="MedQC.Web.Models.SysRole,MedQC.Web"></typeAlias>
  </alias>

  <resultMaps>
    <resultMap id="Windy.WebMVC.Web2.DBAccess.SysRole-result" class="SysRole">
      <result property="ID" column="ID"  />
      <result property="Name" column="NAME" />
      <result property="Description" column="DESCRIPTION" />

    </resultMap>
  </resultMaps>
  <statements>

    <select id="SysConfig.SysRole.LoadPageList" parameterClass="Hashtable" resultMap="SysRole-result">

      SELECT * FROM
      (
      SELECT A.*, ROWNUM RN
      FROM (

      SELECT * FROM sys_Role t
      WHERE 1 = 1
      <dynamic>
        <isNotEmpty prepend=" AND " property="sysRole">T.name like '%$sysRole.Name$%'</isNotEmpty>
      </dynamic>
      order by id

      ) A
      )
      WHERE RN BETWEEN $start$ AND $end$
    </select>

    <select id="SysConfig.SysRole.GetTotalCount" parameterClass="Hashtable" resultClass="int">
      SELECT COUNT(*) FROM sys_Role t   where 1=1

      <dynamic>
        <isNotEmpty prepend=" AND " property="sysRole">T.name like '%$sysRole.Name$%'</isNotEmpty>
      </dynamic>

    </select>
    
    <select id="SysConfig.SysRole.GetRolesByUserID" parameterClass="Hashtable" resultMap="SysRole-result">
      select A.ID,A.NAME,A.DESCRIPTION from sys_role A, sys_user_role B
      where A.Id=b.role_id and b.user_id = $UserID$
    </select>

    <select id="SysConfig.SysRole.GetSysRoles" parameterClass="SysRole" resultMap="SysRole-result">
      <![CDATA[
         select *
       from SYS_ROLE 
     ]]>
    </select>
    <select id="SysConfig.SysRole.QueryOne" parameterClass="Hashtable" resultMap="SysRole-result">
      select a.*
      from SYS_Role a
      where a.ID=$ID$
    </select>

    <insert id="SysConfig.SysRole.Insert" parameterClass="SysRole" >
      <selectKey  type="pre" property="ID" resultClass="int" >
        <![CDATA[ 
          select seq_sys_Role.nextval AS VALUE from dual
        ]]>
      </selectKey>
      INSERT INTO sys_Role (ID,NAME,description)
      VALUES (#ID#,#Name#,#Description#)
    </insert>

    <update id="SysConfig.SysRole.Update" parameterClass="SysRole">
      UPDATE SYS_Role SET name = #Name#,description = #Description#
      WHERE ID = #ID#
    </update>

    <delete id="SysConfig.SysRole.Delete" parameterClass="Hashtable">
      DELETE FROM SYS_Role WHERE ID = $ID$
    </delete>
  </statements>
</sqlMap>