<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="SysUser" type="MedQC.Web.Models.SysUser,MedQC.Web"></typeAlias>
  </alias>

  <resultMaps>
    <resultMap id="Windy.WebMVC.Web2.DBAccess.SysUser-result" class="SysUser">
      <result property="ID" column="ID"  />
      <result property="LoginName" column="LOGIN_NAME" />
      <result property="Name" column="NAME" />
      <result property="Password" column="PASSWORD" />
      <result property="Tel" column="TEL" />
      
    </resultMap>
  </resultMaps>
  <statements>

    <select id="SysConfig.SysUser.LoadPageList" parameterClass="Hashtable" resultMap="SysUser-result">

      SELECT * FROM
      (
      SELECT A.*, ROWNUM RN
      FROM (

      SELECT * FROM sys_user t
      WHERE 1 = 1
      <dynamic>
        <isNotEmpty prepend=" AND " property="sysUser">T.name like '%$sysUser.Name$%'</isNotEmpty>
      </dynamic>
      <dynamic>
        <isNotEmpty prepend=" AND " property="sysUser">T.tel like '%$sysUser.Tel$%'</isNotEmpty>
      </dynamic>
      order by id

      ) A
      )
      WHERE RN BETWEEN $start$ AND $end$
    </select>

    <select id="SysConfig.SysUser.GetTotalCount" parameterClass="Hashtable" resultClass="int">
      SELECT COUNT(*) FROM sys_user t   where 1=1
      <dynamic>
        <isNotEmpty prepend=" AND " property="sysUser">T.name like '%$sysUser.Name$%'</isNotEmpty>
      </dynamic>
      <dynamic>
        <isNotEmpty prepend=" AND " property="sysUser">T.tel like '%$sysUser.Tel$%'</isNotEmpty>
      </dynamic>

    </select>

    <select id="SysConfig.SysUser.GetSysUsers" parameterClass="SysUser" resultMap="SysUser-result">
       select *
       from SYS_USER t
      WHERE 1 = 1
      <dynamic>
        <isNotEmpty prepend=" AND " property="LoginName">T.login_name = #LoginName#</isNotEmpty>
      </dynamic>
    </select>
    <select id="SysConfig.SysUser.QueryOne" parameterClass="Hashtable" resultMap="SysUser-result">
      select a.*
      from SYS_USER a
      where a.ID=$ID$
    </select>
    
    <insert id="SysConfig.SysUser.Insert" parameterClass="SysUser" >
      <selectKey  type="pre" property="ID" resultClass="int" >
        <![CDATA[ 
          select seq_sys_user.nextval AS VALUE from dual
        ]]>
      </selectKey>
      INSERT INTO sys_user (ID,LOGIN_NAME,NAME,PASSWORD,TEL)
      VALUES (#ID#,#LoginName#,#Name#,#Password#,#Tel#)
    </insert>

    <update id="SysConfig.SysUser.Update" parameterClass="SysUser">
      UPDATE SYS_USER SET LOGIN_NAME = #LoginName#,Name = #Name#,tel=#Tel#
      WHERE ID = #ID#
    </update>

    <update id="SysConfig.SysUser.ChangePassword" parameterClass="SysUser">
      UPDATE SYS_USER SET password = #Password#
      WHERE ID = #ID#
    </update>

    <update id="SysConfig.SysUser.ResetPassword" parameterClass="SysUser">
      UPDATE SYS_USER SET password = #Password#
      WHERE ID = #ID#
    </update>
    <delete id="SysConfig.SysUser.Delete" parameterClass="Hashtable">
      DELETE FROM SYS_USER WHERE ID = $ID$
    </delete>
    
    <!--用户角色关联表-->
    <insert id="SysConfig.SysUser.InsertUserRole" parameterClass="Hashtable" >
      INSERT INTO sys_user_role (USER_ID,ROLE_ID)
      VALUES ($userid$,$roleid$)
    </insert>
    <delete id="SysConfig.SysUser.DeleteUserRole" parameterClass="Hashtable">
      DELETE FROM SYS_USER_ROLE WHERE USER_ID = $userid$
    </delete>
    
    
  </statements>
</sqlMap>