<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <properties resource="Maps/properties.config"/>
  <settings>
    <!--是否使用Satement命名空间,
    如节点属于“Person”命名空间在useStatementNamespaces=”true”的情况下, 
    Statement调用需追加命名空间， 如：sqlMap.Update(“Person.UpdatePerson”,person);
    否则直接通过Statement名称调用即可,默认false-->
    <setting useStatementNamespaces="false"/>
    <!--是否启用sqlMap上的缓存机制,默认true-->
    <setting cacheModelsEnabled="true"/>
    <!--配置是否启用SqlMapConfig.xsd schema验证映射文件.默认false-->
    <setting validateSqlMap="false"  />
  </settings>
  <!--db provider配置文件路径-->
  <providers resource="Maps/providers.config"/>
  <!--db provider类型及连接串-->
  <database>
    <provider name="OleDb1.1" />
    <dataSource name="ae" connectionString="Provider=MSDAORA;User ID=${userid_operation};Password=${password_operation};Data Source=${datasource_operation};Persist Security Info=True;" />
 </database>
  <!--db与Entity的映射文件-->
  <sqlMaps>
    <sqlMap resource="Maps\Operation\ScOperationMap.config" />
    <sqlMap resource="Maps\Operation\OperationMasterMap.config" />
    <sqlMap resource="Maps\Operation\OperationNameMap.config"/>
    <!--
    <sqlMap resource="Maps\SysConfig\SysUserMap.config" />
    <sqlMap resource="Maps\SysConfig\SysRoleMap.config" />
    <sqlMap resource="Maps\SysConfig\SysLogMap.config" />
    <sqlMap resource="Maps\SysConfig\SysParameterMap.config" />-->
  </sqlMaps>
</sqlMapConfig>