<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--SQL 配置-->
  <add key="datasource" value="."/>
  <add key="database" value="HRRDP"/>
  <add key="userid" value="rdp"/>
  <add key="password" value="rdp"/>
  <!--Oracle配置-->
  <add key="oradatasource" value="ORCL301SJ"/><!--ORCL301SJ-->
  <add key="orauser" value="hrrdp"/>
  <add key="orapassword" value="hrrdp"/>
  <!--cp配置-->
  <!--<add key="cporadatasource" value="z2emrtest"/>--><!--z2emrtest--><!--
  <add key="cporauser" value="cp"/>
  <add key="cporapassword" value="cp"/>-->
  <add key="cporadatasource" value="Z2TEST"/><!--Z2TEST-->
  <add key="cporauser" value="ihd"/>
  <add key="cporapassword" value="ihd"/>
   <!--ihd配置-->
  <add key="ihdoradatasource" value="ORCL301SJ"/><!--ORCL301SJ--><!--Z2TEST-->
  <add key="ihdorauser" value="ihd"/>
  <add key="ihdorapassword" value="ihd"/>
  <!--ae配置-->
  <add key="datasource_ae" value="ae"/><!--ORCL301SJ-->
  <add key="userid_ae" value="ae"/>
  <add key="password_ae" value="ae"/>
  <!--sysconfig配置-->
  <add key="datasource_sysconfig" value="ae"/>
  <add key="userid_sysconfig" value="ae"/>
  <add key="password_sysconfig" value="ae"/>
  <!--operation手术质量管理-->
  <add key="datasource_operation" value="ae"/>
  <add key="userid_operation" value="ae"/>
  <add key="password_operation" value="ae"/>
  <!--meddoc病历文书库配置-->
  <add key="datasource_meddoc" value="vmmeddoczh"/>
  <add key="userid_meddoc" value="meddoc"/>
  <add key="password_meddoc" value="meddoc"/>
</settings>
