@{
    ViewBag.Title = "Config";
    Layout = "~/Areas/MedQC/Views/Shared/_Layout.cshtml";
}
<!-- content start -->
<div class="admin-content">
    
    <iframe src="~/Config/SiteConfig.html" style="width:100%;height:100%;"></iframe>
</div>
</div>